.row1, .row2{
    display: flex;
    width: 100%;
    color: #000;
    
}
.c1, .c2, .c3 {
    text-align: center;
    width: 100%;
    color: #000;
    
}





@media screen and (max-width:600px) {
    .row1, .row2{
        width: 100%;
    }
  .c1, .c2, .c3{
    display: block;
    width: 80%;
    margin: auto;
    font-size: 10px;
    background-color: #ddd;
    color: #000;
} 


}