{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestAfrica54</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Prata">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sacramento">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@200&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    
    <!-- /// FontAwesome Icons 4.3.0 ////////  -->
    <link rel="stylesheet" href="{% static 'landing/assets/fonts/fontawesome/font-awesome.min.css' %} ">
    
    <!-- /// Custom Icon Font ////////  -->
    <link rel="stylesheet" href="{% static 'landing/assets/fonts/iconfontcustom/icon-font-custom.css' %}">
    
    <!-- /// Template CSS ////////  -->
    <link rel="stylesheet" href="{% static 'landing/assets/css/modish.css' %}">
    
    <link rel="stylesheet" href="{% static 'landing/assets/vendors/magnificpopup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'landing/assets/vendors/animations/animate.min.css' %}">
    
    
    <link rel="stylesheet" href="{% static 'landing/owl/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/owl/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/owl/assets/owl.theme.green.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/aos/aos.css' %}">
        <link rel="stylesheet" href="{% static 'landing/css/ticker.css' %}">
    <style>
        
        #main, body{
            background-color: #000;
            color: #ddd;
        }
    </style>
</head>
<body>
<div id="main" style=" width: 50%; margin: auto;">
<h1 style="text-align: center; font-size: 45px;margin-top: 50%;">InvestAfrica54</h1>

<p>
    <div class="hwrap">
        <div class="hmove">
            <div class="hitem">
    
                <li>Financing Small Businesses And Start Ups</li>
    
    
            </div>
            <div class="hitem">
    
                <li>Expose Your Business To Millions Of Potential Investors</li>
    
            </div>
            <div class="hitem">
                <li>Private Equity</li>
    
            </div>
        </div>
    </div>
</p>
</div>
   

{% block footer %}

{% endblock footer %}




<a id="back-to-top" href="#">
    <i class="ifc-up4"></i>
</a>

{% block jquery %}

<script src="{% static 'landing/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'landing/jquery-ui/jquery-ui.min.js' %}"></script>


{% endblock jquery %}



{% block jscript %}

<script
    src="https://cdn.tiny.cloud/1/c5gyq6tyaksw6wqwm7r4gnlmgru2t2h6pjis8u6aztxi7y5m/tinymce/5/tinymce.min.js"></script>
<!-- /// ViewPort ////////  -->
<script src="{% static 'landing/assets/vendors/viewport/jquery.viewport.js' %}"></script>

<!-- /// Easing ////////  -->
<script src="{% static 'landing/assets/vendors/easing/jquery.easing.1.3.js' %}"></script>

<!-- /// Animations ////////  -->
<script src="{% static 'landing/assets/vendors/animations/animate.js' %}"></script>

<!-- /// Superfish Menu ////////  -->
<!-- <script src="{% static 'landing/assets/vendors/superfish/hoverIntent.js' %}"></script>
        <script src="{% static 'landing/assets/vendors/superfish/superfish.js' %}"></script> -->


<!-- /// Magnific Popup ////////  -->
<script src="{% static 'landing/assets/vendors/magnificpopup/jquery.magnific-popup.min.js' %}"></script>

<!-- /// Easy Tabs ////////  -->
<script src="{% static 'landing/assets/vendors/easytabs/jquery.easytabs.min.js' %}"></script>



<!-- /// Scrollspy ////////  -->
<script src="{% static 'landing/assets/vendors/scrollspy/scrollspy.min.js' %}"></script>

<!-- /// Custom JS ////////  -->

<script src="{% static 'landing/assets/js/modish.js' %}"></script>

<script src="{% static 'landing/owl/owl.carousel.min.js' %}"></script>
<script src="{% static 'landing/aos/aos.js' %}"></script>

<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true,
                    loop: true
                },
                600: {
                    items: 1,
                    nav: true,
                    loop: true,

                },
                1000: {
                    items: 1,
                    nav: true,
                    loop: true,
                    margin: 20
                }
            }
        })
    })
</script>
<script>
    AOS.init();
</script>
<script>
    window.onscroll = function () { onScroll() };

    var header = document.getElementById("header");
    var tops = header.offsetTop;

    function onScroll() {
        if (window.pageYOffset >= tops) {
            header.classList.add("sticky");
        }
        else {
            header.classList.remove("sticky");
        }
    }
</script>


<script>
    $(function () {
        var colors = ['red', 'blue', 'black'];
        $("#custom-search-form").autocomplete({
            source: colors
        });
    })
</script>


<script>

    $(function () {
        $(".accordion .accordion-item").removeClass('active').next("div").slideUp("slow");

    })
</script>

{% endblock jscript %}


{% block javascript %}

{% endblock javascript %}

</body>
</html>